<div class="container">
       {{#each products}}
        <div>
            <h3>{{title}}</h3>
            <span>{{price}}</span>
            <span>{{stock}}</span>
        </div>

        {{/each}}
</div>
