<form id="formCreateProduct">
    <input type="text" id="title" placeholder="Ingrese nombre del producto" required/>
    <input type="number" id="price" placeholder="Ingrese nombre del producto" required/>
    <input type="number" id="stock" placeholder="Ingrese nombre del producto" required/>
     <input type="text" id="code" placeholder="Ingrese codigo del producto" required/>
    <button type="submit" >Agregar Producto</button>
</form>

<div class="container" id="realTimeProducts">
      
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/index.js"></script>